@import url('https://fonts.googleapis.com/css2?family=Padauk:wght@700&display=swap');

*{

margin: 0;
padding: 0;

}

body {
    font-family: 'Padauk', sans-serif;
    background-color: #35665D;
}

html, .fullscreen {
    display: flex;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 90%;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    color:yellow;
    font-size: 30px;
}

.formulario{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 30px;
}
.formulario h5 {
    font-size: 22px;
}

.button1{
    background-color: yellow;
    transition: 1s;
    border-radius: 10px;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    border: yellow;
}
.button1:hover{
    background-color: rgb(9, 94, 28);
    color: rgb(245, 245, 245);
}

.button2{
    background-color: yellow;
    transition: 1s;
border-radius: 10px;
padding: 10px;
font-size: 20px;
font-weight: bold;
border: yellow;
}
.button2:hover{
    background-color: rgb(255, 0, 0);
    color: white;
}

h5{
    font-size: 15px;
}

input, select{
    font-size: 20px;
    padding: 10px;
    border-radius: 5px;
}

.card{
    background-color: #FFF0BA;
    margin: 10px;
    margin-top: 30px;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    
}
#resultado{
    font-size: 16px;
    text-align: justify;
}
#IMC{
    margin: 20px;
}